
body{
    font-family: "Open Sans", serif;
}
/* shared style  */
.text-primary{
    color: #FD6E0A;
}
.bg-sec{
    background-color: #fff8f3;
}
.btn{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size:20px;
    padding: 18px 35px;
    color: white;
    border-radius: 5px;
    border: none;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #474747;
}
.section-disc{
    font-size: 18px;
    color: #474747;
}
.text-center{
    text-align: center;
}
/* Nav bar Style */
.header{
    background-image: url(/images/developer.png), url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}


/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    width: 580px;
}
.banner-grt{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-image{
    width: 580px;
}


/* main area style */
main {
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about style  */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content:space-around ;
}
.item-disc{
    font-weight:600;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0, 0.06);
    border-radius: 5px;
}


/* resume style start here  */

.resume-container{
    display: flex;
    gap: 24px;
}
.exp-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.exp-disc{
    color:#757575;
}
hr{
    margin: 30px 5px;
}
.downloadCV{
    text-align: center;
    margin-top: 50px;
}

/* footer style here  */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-colum{
    width: 50%;
}
input[type= "text"],footer input[type = "email"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    color: #757575;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
textarea{
    border-radius: 5px;
    background-color: white;
    color: #757575;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
